<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /inss-de-obras/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /inss-de-obras/index.html [L]
</IfModule>
